<!DOCTYPE html>
{% load static %}

<html lang="en">
{% include 'blocks/base.html' %}
<body>
<!-- Navigation
==========================================-->
{% include 'blocks/header.html' %}
<!-- Home Page
==========================================-->
<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="content text-left">
                    <h1>Case studies</h1>
                    <p class="lead">See the projects we are working on.</p>
            </div>
        </div>
    </div>
    </div>


    <!-- About Us Page
    ==========================================-->
<div id="tf-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/animacel/1.png' %}" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <h2><strong>Animacel</strong></h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <p class="intro">Animacel biotechnology, a spin-off from the Veterinary Faculty in Ljubljana, was
                        founded in 2011, pioneering a revolutionary technology rooted in advanced stem cell therapy
                        science. Committed to excellence, Animacel has collaborated with partner veterinary clinics to
                        systematically collect detailed data about the indications and therapy outcomes. As part of the
                        Ventures Thrive program, Animacel aimed to deepen their data insights.
                         <br/>

                        Working closely with Animacel’s CEO Luka Mohorič and leveraging data mining techniques, we
                        evaluated the quality of their existing data, gained valuable insights, developed success
                        metrics for the therapy, and examined correlations between dog characteristics and therapy
                        outcomes. The resulting data and analysis are currently being utilized to build strong
                        supporting scientific evidence for developing safe and efficient therapy approaches.
                        <br/>

                        Through this process, we identified challenges in the existing data collection workflow. To
                        address these, we developed a data collection strategy that will free the CEO from the burden of
                        coordinating data exchange with partner clinics. This new approach also fosters greater clinic
                        engagement by offering benefits, such as treatment discounts and insights, encouraging more
                        consistent data sharing.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Testimonials Section
==========================================-->
<div id="tf-testimonials" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2><strong>Our clients’</strong> testimonials</h2>
                <div class="line">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testimonial" class="owl-carousel owl-theme">
                        <div class="item">
                            <p>Our partnership with Just was both efficient and productive. Communication regarding the
                                scope of work, progress, and deliverables was consistently clear, ensuring a smooth and
                                secure collaboration on our medical data. Just was proactive in proposing solutions and
                                conducted additional research to support us throughout the journey. He also helped
                                identify unknown challenges we hadn’t considered, thanks to his deep understanding of
                                data science, which was invaluable given our team's limited background in this
                                area.</p>
                            <p><strong>Luka Mohoric</strong>, CEO, Animacel d.o.o.</p>
                        </div>

                        <div class="item">
                            <p>Cooperation with JustAnalytics took our factory to a higher level of recording,
                                production planning, order system and other internal processing. With Just's help, we
                                are
                                now proud to have our very own customized digital system up and running and are ready
                                for growth on an international level.
                            <p>
                            <p><strong>Matija Koritnik</strong>, CFO, Snix d.o.o.</p>
                        </div>

                        <div class="item">
                            <p>Just was fast and responsive. He created a pricing tool accordingly to our
                                specifications.</p>
                            <p><strong>Luka Jaklic</strong>, CEO, TCE d.o.o.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>ALL RIGHTS RESERVED. COPYRIGHT © 2024 JUST ANALYTICS, RAČUNALNIŠKE STORITVE JUST BAJŽELJ S.P. Based on a
                design by Robert Berki and Coded by <a href="https://dribbble.com/jennpereira"
                                                                         target="_blank">Jenn Pereira</a></p>
        </div>
        <div class="pull-right fnav">
            <ul class="footer-social">
                <li><a href="https://www.linkedin.com/company/just-data-analytics"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.isotope.js' %}"></script>


<!--Disable owl corusel for 3 clients only-->
<script src="{% static 'js/owl.carousel.js' %}"></script>


<!-- Javascripts
================================================== -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>